@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');
:root{
    /* Primary Colors*/
    --softRed: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --darkDesaturatedCyan: hsl(167, 40%, 24%);
    --darkBlue: hsl(198, 62%, 26%);
    --darkModerateBlue: hsl(168, 34%, 41%);

    /* Neutral Colors */
    --veryDarkBlue: hsl(212, 27%, 19%);
    --veryDarkGrayBlue: hsl(213, 9%, 39%);
    --darkGreyBlue: hsl(232, 10%, 55%);
    --GreyBlue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);

    /* fonts */
    --mainText: 'barlow';
    --header: 'fraunces';
}

body{
    margin: 0;
    box-sizing: border-box;
    font-size: 18px;
}

header{
    background-image: url(./img/desktop/image-header.jpg);
    height: 80vh;
    background-position: center;
    background-size: cover;
    padding: 2rem;
}
.logo{
    height: 2rem;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 3rem;
}
nav li{
    list-style-type: none;
    font-family: var(--mainText);
    color: var(--White);
}
.contact-btn{
    background-color: var(--White);
    color: var(--veryDarkBlue);
    font-weight: 700;
    border: none;
    border-radius: 50px;
    font-family: var(--header);
    padding: 1rem 2rem;
    text-transform: uppercase;
}

h1{
    font-family: var(--header);
    color: var(--White);
    font-weight: 900;
    text-transform: uppercase;
}